<mat-toolbar class="app-toolbar" color="primary" *ngIf="login">
    <span>Hai, {{ username }}</span>
    <button mat-stroked-button (click)="logout()">Logout</button>
</mat-toolbar>
<div class="box">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form1"  class="example-form">
                    <h1>Employee Detail</h1>
                <mat-form-field class="example-full-width"  appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" value="" formControlName="username" readonly>
                </mat-form-field>
                <mat-form-field class="example-50-width" appearance="fill" style="margin-right: 6%;">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" value="" formControlName="firstName" readonly>
                </mat-form-field>
                <mat-form-field class="example-50-width" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" value="" formControlName="lastName" readonly>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" value="" formControlName="email" readonly>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Birth Date</mat-label>
                    <input matInput type="datetime-local" value="" formControlName="birthDate" readonly>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Basic Salary</mat-label>
                    <input matInput type="number" value="" formControlName="basicSalary" readonly>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Group</mat-label>
                    <mat-select formControlName="group">
                        <mat-option *ngFor="let group of groups" [value]="group.value" readonly>
                            {{group.name}}
                          </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" readonly></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" readonly>
                        <mat-option *ngFor="let sts of status" [value]="sts.value">
                            {{sts.name}}
                          </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="warn" [routerLink]="['/employee/list']">Kembali</button>
            </form>
        </mat-card-content>
    </mat-card> 
</div>